#banner
  = image_tag "spoof.png"
= render :partial => 'form'
%h3 Recent messages
- @messages.each do |message|
  %p
    %b
      = h message.name
    = "(" + message.created_at.strftime("%B %d, %Y") + "):"
    = link_to ((h message.subject), message) + ' - '
    = auto_link ((h message.message), :link => :urls)
= will_paginate @messages
