= stylesheet_link_tag "table"
%h1
  Listing messages
%table
  %tr
    %th
      Name
    %th
      Subject
    %th
      Message
    %th{:colspan => 4}
      Action
  - @messages.each do |message|
    %tr
      %td
        = h message.name
      %td
        = h message.subject
      %td
        = h message.message
      %td
        = link_to 'Show', message
      %td
        = link_to 'Edit', edit_message_path(message)
      %td
        = link_to 'Destroy', [:admin,message], :confirm => 'Are you sure?', :method => :delete
      %td
        - form_for([:admin,message]) do |f|
          = f.submit (message.is_approved == 0 ? 'Approve' : 'Unapprove')
= will_paginate @messages
%p
  = link_to "Back", root_path